
<h3>Please register</h3>

<%= erb :'partials/_errors', layout: false, locals: {errors: @user.errors.full_messages} %>

<form class="reg" action="/users" method="Post">
  <input type="text" placeholder="first name" name="user[first_name]" value="<%=@user.first_name%>">
  <input type="text" placeholder="last name" name="user[last_name]" value="<%=@user.last_name%>">
  <input type="text" placeholder="email" name="user[email]" value="<%=@user.email%>">
  <input type="password" placeholder="password" name="user[password]">
  <input type="submit" value="register">
</form>

